# Project specific
*~
build
cov-int
src/*.tar.bz2
src/build
tests/build
external/.downloaded
external/imgui
external/imgui_sdl
doc/html
doc/coverage
doc/gprof
gmon.out
foo
_*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
